#home {
    font-family: 'Josefin Sans', sans-serif;
    animation: slide 10s infinite;
}

@keyframes slide {

    0%{
        
        background-color: rgb(68, 85, 70);

    }
    50%{
        
        background-color: rgb(37, 50, 50);
    }
    

    100%{
        
        background-color: rgb(70, 87, 89);

    }
}